<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="header" slot="end" src="assets/images/iron.jpg"></ion-img>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>#388, Singanallur,<br> Coimbatore,<br> Tamilnadu - 641105</ion-label>
  </div><br>
  <div>
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>CIBIE - Dr.Mahalingam College of Engineering & Technology,<br> Pollachi,<br> Tamilnadu - 642003</ion-label>
  </div><br>
  <div>
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Kempapura,<br> Bangalore,<br> Karnataka - 560024</ion-label>
  </div><br>
  <!-- <div>
    <ion-icon name="phone-portrait"></ion-icon>
    <ion-label>+91 9663103311</ion-label>
  </div>
  <div>
    <ion-icon name="call"></ion-icon> -->
    <ion-label>+91 9663103311</ion-label>
  </div>
  <div>
    <ion-icon name="mail"></ion-icon>
    <ion-label> hr@ironmantechnology.com</ion-label>
  </div>
  <div>
    <ion-icon name="logo-chrome"></ion-icon>
    <ion-label>www.ironmantechnology.com</ion-label>
  </div>
</ion-content>