<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="header" slot="end" src="assets/images/iron.jpg"></ion-img>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/images/about_us.jpg"> </ion-img>
  <div>
    Ironman Technology & Consultants is  A three-year-old
    Indian Start-Up company in the business of providing IT Consultation.
  <br>
    We have three foremost locations in India. We are focused at providing exquisite and unparalleled IT solutions to run your business most efficiently and effectively.
  </div>
  <!-- <div>
    At SMM, each and every person plays a role in maintaining our reputation as an organization recognized and respected
    as being a customer friendly, leading choice Breaking solutions provider. Since 1998 SMM Group has been supplying
    world class products and services to the Indian Construction Equipment and mining industries and with our current
    range of Rock Breakers and other accessories.
  </div> -->
  <div>
    <b>MISSION :</b>
    <p> We are focused on partnering with passionate entrepreneurs to grow world-class businesses in India, German (GINSEP 2020) & Europe.</p>
  <br>
  <br>
  <b>VISION :</b>
  <p>Workload reduction!! across the Organization is more effective in Employee handling and satisfaction and making them more productive. Analyze and improve all applications for more business opportunities.</p>
  </div>

</ion-content>